<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentportal">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/sdm_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Departments"
            android:label="@string/title_activity_departments"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.studentportal.MainActivity" />
        </activity>
        <activity
            android:name=".ComputerScience"
            android:label="@string/title_activity_computer_science"
            android:parentActivityName=".Departments"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.studentportal.Departments" />
        </activity>
        <activity
            android:name=".InformationScience"
            android:label="@string/title_activity_information_science"
            android:parentActivityName=".Departments"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.studentportal.Departments" />
        </activity>
        <activity
            android:name=".Electrical"
            android:label="@string/title_activity_electrical"
            android:parentActivityName=".Departments"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.studentportal.Departments" />
        </activity>
        <activity
            android:name=".Civil"
            android:label="@string/title_activity_civil"
            android:parentActivityName=".Departments"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.studentportal.Departments" />
        </activity>
        <activity
            android:name=".Mechanical"
            android:label="@string/title_activity_mechanical"
            android:parentActivityName=".Departments"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.studentportal.Departments" />
        </activity>
        <activity
            android:name=".Electronics"
            android:label="@string/title_activity_electronics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chemical"
            android:label="@string/title_activity_chemical"
            android:parentActivityName=".Departments"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.studentportal.Departments" />
        </activity>
        <activity
            android:name=".Common"
            android:label="@string/title_activity_common"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
